{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #303030;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4 bg-dark text-light">
        <h5 class="card-header">Credits</h5>
    <div class="card-body">
        <p class="card-text">I made this boilerplate template from these guys right here, so give them some credit too.</p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-primary">Django Central</a>
    </div>
</div>
</div>

{% endblock sidebar %}